@font-face {
    font-family: "iranYekan";
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/IRANYekanWebRegular.woff")
         format("woff");
}

@font-face {
    font-family: "iranYekan";
    font-weight: 700;
    font-style: bold;
    src: url("../assets/fonts/IRANYekanWebBold.woff")
         format("woff");
}
